<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfamarkt.albi" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/albilogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfamarkt.albi.MainActivity" />
        </activity>
        <activity
            android:name=".GameItemPicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_item_picker"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfamarkt.albi.GameActivity" />
        </activity>
        <activity
            android:name=".GameRestocker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_restocker"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfamarkt.albi.GameActivity" />
        </activity>
        <activity
            android:name=".GameSummary"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameComplete"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_complete"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfamarkt.albi.GameActivity" />
        </activity>
        <activity
            android:name=".GameSelectRack"
            android:label="@string/title_activity_game_select_rack"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".Utilities.AlarmReceiver" />

        <activity
            android:name=".ManageUsersActivity"
            android:label="@string/title_activity_manage_users"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
